@model InAndOut.Models.MyExpenses

@{
    ViewData["Title"] = "CreateVM";
}

<h1>CreateVM</h1>

<h4>MyExpenses</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateVM">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Expenses" class="control-label"></label>
                <input asp-for="Expenses" class="form-control" />
                <span asp-validation-for="Expenses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpensesTypeId" class="control-label"></label>
                <select asp-for="ExpensesTypeId" class ="form-control" asp-items="ViewBag.ExpensesTypeId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

